.main-container{
    background-image: linear-gradient(to bottom,#ff6e7f,#bfe9ff);
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
